@import '../styles/colors';

.avatar {
  display: inline-block;
  box-sizing: border-box;
  border: 0.25rem solid $c_cold_grey_5;
  background-color: #fff;
  overflow: hidden;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &_xs {
    border-radius: 1.5rem;
    width: 4rem;
    height: 4rem;
  }

  &_s {
    border-radius: 2.25rem;
    width: 8rem;
    height: 8rem;
  }

  &_m {
    border-radius: 3rem;
    width: 12rem;
    height: 12rem;
  }

  &_l {
    border-radius: 3.75rem;
    width: 16rem;
    height: 16rem;
  }

  &_xl {
    border-radius: 4.5rem;
    width: 20rem;
    height: 20rem;
  }

  &_xxl {
    border-radius: 4.5rem;
    width: 40rem;
    height: 40rem;
  }
}